
      .footer{

        background:#eeeeee;
        height: 250px;
      }

      .list-group li{
        display:inline-block !important;
      }

.m-header{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
      font-size: 2em; color: rgb(69, 5, 173);
}

.background-red{
      
      background-color: red;
}

.background-yellow{

      background-color: yellow;
}

.background-green{
      background-color: green;
}
